.intro-image{
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px #504f4f;
    border-radius: 100px;
}

body{
    margin: 50px;
    width: 70%;
    background-color: rgb(112, 172, 228);
    margin-left: auto;
    margin-right: auto;   
}





